<div class="w-full h-[calc(100vh-120px)]">
  <div class="search inline-flex w-full gap-2 items-center">
    <p class="text-2xl font-bold grow mb-0 p-1">P2P Dashboard</p>
    <button class="mr-2 p-2 pb-0" (click)="openFilter = !openFilter" type="button" cdkOverlayOrigin
        #trigger="cdkOverlayOrigin" [ngClass]="{'redbg': openFilter}"><mat-icon>{{openFilter? "close" :
            "tune"}}</mat-icon>
    </button>
    <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="openFilter">
        <div class="shadow w-full h-full bg-white m-4">
            <div class="popup-panal-header flex flex-row justify-between mx-4">
                <p class="text-lg font-semibold mb-0 py-2.5">Search</p>
            </div>
            <mat-divider></mat-divider>
            <div class="px-4 pt-2 flex flex-row font-semibold">
                
                <div class="flex flex-col">
                    <mat-form-field floatLabel="always">
                        <mat-label>Filter By</mat-label>
                        <mat-select [(ngModel)]="filters['filterBy']">
                            <mat-option value="migrationGroup" class="target-platform-select">Group</mat-option>
                            <mat-option value="targetDate" class="target-platform-select">Date</mat-option>
                        </mat-select>
                    </mat-form-field>

                    @if(filters['filterBy'] == 'targetDate'){
                    <mat-form-field floatLabel="always">
                        <mat-label>Date </mat-label>
                        
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate placeholder="Start date" [(ngModel)]="filters['startDate']">
                            <input matEndDate placeholder="End date" [(ngModel)]="filters['endDate']">
                        </mat-date-range-input>
                        <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <!-- <mat-icon matDatepickerToggleIcon>keyboard_arrow_icon</mat-icon> -->
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                    }
                </div>
                <div class="flex flex-col">
                
                    <div class="mt-5">
                        <button type="button" class="search-btn"
                            (click)="searchWithFilters()"><mat-icon>search</mat-icon><span>Search</span></button>
                        <button type="button" class="cancel-btn"
                        (click)="openFilter = !openFilter"><mat-icon>delete</mat-icon><span>Clear
                                Filters</span></button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>
<div class="flex flex-col h-full m-2 mt-0">
    <div class="flex flex-row gap-2">
       
        <div class="host-card w-1/6 border text-center text-xs p-2">
                <div class="border-left-bl py-3">
                    <div class="font-bold">{{filterList[filterList?.length-1]?.value | number}}</div>
                    <div class="pt-1">Total Reports</div>
                </div>
        </div>
        @for(fl of filterList; track fl; let i = $index; let lt = $last; let ev = $even; let od = $odd){
            @if(!lt){
            <div class="host-card w-1/6 border text-center text-xs p-2" (click)="labelDataCenterClicked(fl.name, fl.value, '')">
                <div class="py-3" [ngClass]="{'border-left-g': i%2 === 0, 'border-left-o': i === 1, 'border-left-bl': i%3 === 0}">
                    <div class="font-bold">{{fl.value | number}}</div>
                    <div class="pt-1">{{fl.name}} Plans</div>
                </div>
            </div>
            }
        }
        
    </div>
        <!-- @if(i%2 === 0){ -->
            <div class="flex h-1/2 gap-1 overflow-y-auto mt-2">
                @for(graph of graphData; track graph; let i = $index){
                    <div class="host-card w-1/2 h-[calc(100%-10px)] border">
                        <div class="table-head-bg ml-4">
                            <p class="text-xl font-bold mt-1 mb-0 text-center">{{graphData[i].type | uppercase}} Data</p>
                        </div>
                        <div class="flex flex-row">
                            @if(graphData[i]){
                                <app-chart-host chartType="{{graphData[i].type}}" class="w-full">
                                    <canvas baseChart [options]="onGraphTypeChange(graphData[i].type)" [data]="graphData[i]" [type]="graphData[i].type" height="230px"></canvas>
                                </app-chart-host>
                            }@else{
                                <p class="text-xl font-bold text-red-500 m-5">No Data Found</p>
                            }
                        </div>
                    </div>
                }
        </div>
</div>
<!-- <div class="container">
    <h1>{{ title }}</h1>
    <div class="charts-container">
      <div class="chart-wrapper">
        <h2>Line Chart</h2>
        <canvas baseChart
          [type]="'line'"
          [data]="lineChartData"
          [options]="lineChartOptions">
        </canvas>
      </div>
  
      <div class="chart-wrapper">
        <h2>Bar Chart</h2>
        <canvas baseChart
          [type]="'bar'"
          [data]="barChartData"
          [options]="barChartOptions">
        
        </canvas>
      </div>
  
       <div class="chart-wrapper">
        <h2>Pie Chart</h2>
        <canvas baseChart
          [type]="'pie'"
          [data]="pieChartDatas"
          [options]="pieChartOptions">
        </canvas>
      </div>
  
      <div class="chart-wrapper">
        <h2>Doughnut Chart</h2>
        <canvas baseChart
          [type]="'doughnut'"
          [data]="doughnutChartData"
          [options]="doughnutChartOptions">
        </canvas>
      </div>
    </div>
  </div> -->
</div>