<div class="container">
  <h1>{{ title }}</h1>

  <div class="charts-container">
    <div class="chart-wrapper">
      <h2>Line Chart</h2>
      <canvas baseChart
        [type]="'line'"
        [data]="lineChartData"
        [options]="lineChartOptions"
         height="230px">
      </canvas>
    </div>

    <div class="chart-wrapper">
      <h2>Bar Chart</h2>
      <canvas baseChart
        [type]="'bar'"
        [data]="barChartDatas"
        [options]="barChartOptions"
         height="230px">
      
      </canvas>
    </div>

     <div class="chart-wrapper">
      <h2>Pie Chart</h2>
      <canvas baseChart
        [type]="'pie'"
        [data]="pieChartDatas"
        [options]="pieChartOptions"
         height="230px"
        >
      </canvas>
    </div>

    <div class="chart-wrapper">
      <h2>Doughnut Chart</h2>
      <canvas baseChart
        [type]="'doughnut'"
        [data]="targetChartDatas"
        [options]="doughnutChartOptions"
         height="230px"
        >
      </canvas>
    </div>
  </div>
</div>